* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;

}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
}

:root {
  /* Font Family */
  --nav-bar-font: "Space Grotesk";

  /* Colors */
  --header-color: #0E21A0;
  --background-color: #FFF;
  --text-color: #FFF;
  --color1: #4D2FB2;
  --color2: #B153D7;
  --color3: #F375C2;
}

/* Header Styling */
header {
  position: fixed;
  background-color: #0E21A0;
  width: 100%;
  padding: 2rem;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar .main-menu {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

header .navbar .main-menu .menu-text {
  font-family: var(--nav-bar-font);
  font-size: 3rem;
}

header .navbar .main-menu .logo {
  height: 5rem;
}

header .navbar .nav-menu {
  display: flex;
  gap: 2rem;
  margin-right: 5rem;
}

header .navbar .nav-menu .nav-items .nav-link {
  font-family: var(--nav-bar-font);
  font-size: 2rem;
  font-weight: bold;
}

header .navbar .nav-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header .navbar .nav-middle input {
  width: 35rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  border: none;
  border-radius: 2rem;
  color: black;
}

header .navbar .nav-middle i {
  font-size: 2.8rem;
  cursor: pointer;
}


header .navbar .nav-menu .nav-items #sign-up-btn {
  background: var(--color3);
  padding: 1rem 2rem;
  border-radius: 15px;
  transition: 0.3s ease;
}

header .navbar .nav-menu .nav-items #sign-up-btn:hover {
  background-color:var(--color2);
}

/* Hero Styling */
section {
  min-height: 100vh;
  background-image: url(images/hero-section.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h1 {
  font-family: "Onest", "arial";
  font-size: 10rem;
}
